{% extend_me %}

{% block assigned_title %}<h5>{{ _("Field agents assigned to the project. Note: Only one field agent can be a coordinator.") }}</h5>{% endblock assigned_title %}

{% block prj_enumerator_labels %}
    {% if enumerator.enum_active != 1 %}
        <span class="label label-danger">{{ _("Can not submit data") }}</span>
    {% endif %}
    {% if enumerator.is_supervisor == 1 %}
        <span class="label label-primary">{{ _("Coordinator") }}</span>
    {% endif %}
{% endblock prj_enumerator_labels %}

{% block prj_enum_actions %}
    <td class="text-center" style="vertical-align: middle;">
        {% if enumerator.is_supervisor == 0 %}
            {% if enumerator.enum_email != "" %}
                <button data-url=" {{ request.route_url('set_enumerator_as_coordinator', user=activeProject["owner"]["user_name"] , project= activeProject["project_cod"],enumeratorid=enumerator.enum_id) }}" type="button" class="btn btn-primary coordinator" title="{{_("Set this field agent as coordinator")}}"><i class="fa fa-street-view"></i> {{ _("Set as coordinator") }}</button>
            {% else %}
                <span title="{{ _('This enumerator cannot be a coordinator because it does not have an email') }}" class="label label-danger">{{ _("Without email") }}</span>
            {% endif %}
        {% else %}
            <button data-url=" {{ request.route_url('set_enumerator_as_coordinator', user=activeProject["owner"]["user_name"] , project= activeProject["project_cod"],enumeratorid=enumerator.enum_id) }}" type="button" class="btn btn-default coordinator" title="{{_("Send email access")}}"><i class="fa fa-envelope"></i> {{ _("Send access email") }}</button>
        {% endif %}
        <button onclick="showDelete('{{ request.route_url('removeprjenumerator', user=activeProject["owner"]["user_name"] , project= activeProject["project_cod"],enumeratorid=enumerator.enum_id) }}','{{ _("Do you really want to delete this field agent?") }}','{{ request.session.get_csrf_token() }}')" type="button" class="btn btn-danger" title="{{_("Delete field agent")}}"><i class="fa fa-trash"></i> {{ _("Delete") }}</button>
    </td>
{% endblock prj_enum_actions %}

{% block prj_enum_script_extra %}
    $(document).ready(function() {
        $('.coordinator').click(function () {
            var action_url = $( this ).attr('data-url');

            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', action_url);
            form.style.display = 'hidden';

            var i = document.createElement("input"); //input element, text
            i.setAttribute('type',"text");
            i.setAttribute('name',"csrf_token");
            i.setAttribute('value','{{ request.session.get_csrf_token() }}');
            form.appendChild(i);

            document.body.appendChild(form);
            form.submit();

        });
    })
{% endblock prj_enum_script_extra %}