{% extend_me %}

{% block js_script_extra %}
    $(document).ready(function () {
        var valueOfRemunerationSystem = "{{ data["use_remuneration_system"] }}";
        if (valueOfRemunerationSystem === "on")
            $("#use_remuneration_system").bootstrapSwitch('state', true);
        else
            $("#use_remuneration_system").bootstrapSwitch('state', false);
    });
{% endblock js_script_extra %}